<div class="new-comment">
  <%= form_for [@link, Comment.new] do |f| %>
    <%= f.text_field :body, required: true, autocomplete: 'off' %>
    <%= f.submit "Post Comment", class: 'btn' %>
  <% end %>
</div>
