// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-age-tag{
  color: grey;
}

.comment-body{
  margin: 0;
  font-size: 1.5em;
}

.new-comment{
  border: 2px #aaa solid;
  padding: 9px;
}
