// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.collection-item{
  text-align: left;
}

.collection .secondary-content{
  padding: 0 20px;
}

.collection-item h2.title{
  margin-top: 0;
}

.show-link-d{
  border: 5px #444 solid;
}

.vote-icon{
  margin: 10px 20px;
}

.show-votes span{
  margin-bottom: 10px;
}
