.nav-wrapper{
  background-color: green;
}

.search-form{
  margin-left: 200px;
}

#search-field-wrapper{
  max-width: 300px;
}

.search-field{
  color: white;
}

.search-field:focus{
  color: #444;
}
